.ace_editor { 
  margin-left: 10px;
  height: 800px;
  width: 500px;
  border: solid black 2px;
 }

 .res {
  height: 500px;
  width: 500px;
  background-color: #272822;
  border: solid black 2px;
  color: green;
 }

 .question {
  height: 300px;
  width: 500px;
  background-color: #272822;
  border: solid black 2px;
  color: yellow;
 }

 .buttonDiv {
  margin-left: 10px;
 }